In [1]:
import sqlalchemy

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("mysql+mysqlconnector://Mahdi:mahdi@localhost/patent")

In [4]:
conn = engine.connect()

In [5]:
metadata = sqlalchemy.MetaData()

In [6]:
metadata.reflect(bind = engine)

In [7]:
metadata.tables

immutabledict({'branch': Table('branch', MetaData(bind=None), Column('branch_id', INTEGER(), table=<branch>, primary_key=True, nullable=False), Column('branch_name', VARCHAR(length=40), table=<branch>), Column('mgr_id', INTEGER(), ForeignKey('employee.emp_id'), table=<branch>), Column('mgr_start_date', DATE(), table=<branch>), schema=None), 'employee': Table('employee', MetaData(bind=None), Column('emp_id', INTEGER(), table=<employee>, primary_key=True, nullable=False), Column('first_name', VARCHAR(length=40), table=<employee>), Column('last_name', VARCHAR(length=40), table=<employee>), Column('birth_day', DATE(), table=<employee>), Column('sex', VARCHAR(length=1), table=<employee>), Column('salary', INTEGER(), table=<employee>), Column('super_id', INTEGER(), table=<employee>), Column('branch_id', INTEGER(), ForeignKey('branch.branch_id'), table=<employee>), schema=None), 'branch_supplier': Table('branch_supplier', MetaData(bind=None), Column('branch_id', INTEGER(), ForeignKey('branch.branch_id'), table=<branch_supplier>, primary_key=True, nullable=False), Column('supplier_name', VARCHAR(length=40), table=<branch_supplier>, primary_key=True, nullable=False), Column('supply_type', VARCHAR(length=40), table=<branch_supplier>), schema=None), 'client': Table('client', MetaData(bind=None), Column('client_id', INTEGER(), table=<client>, primary_key=True, nullable=False), Column('client_name', VARCHAR(length=40), table=<client>), Column('branch_id', INTEGER(), ForeignKey('branch.branch_id'), table=<client>), schema=None), 'student': Table('student', MetaData(bind=None), Column('student_id', INTEGER(), table=<student>, primary_key=True, nullable=False), Column('name', VARCHAR(length=20), table=<student>), Column('major', VARCHAR(length=20), table=<student>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000020325C138D0>, for_update=False)), schema=None), 'triger_test': Table('triger_test', MetaData(bind=None), Column('message', VARCHAR(length=45), table=<triger_test>), schema=None), 'works_with': Table('works_with', MetaData(bind=None), Column('emp_id', INTEGER(), ForeignKey('employee.emp_id'), table=<works_with>, primary_key=True, nullable=False), Column('client_id', INTEGER(), ForeignKey('client.client_id'), table=<works_with>, primary_key=True, nullable=False), Column('total_sales', INTEGER(), table=<works_with>), schema=None)})

In [8]:
for table in metadata.tables:
    print(table)

branch
employee
branch_supplier
client
student
triger_test
works_with

In [9]:
emp = metadata.tables['employee']

In [10]:
emp

Table('employee', MetaData(bind=None), Column('emp_id', INTEGER(), table=<employee>, primary_key=True, nullable=False), Column('first_name', VARCHAR(length=40), table=<employee>), Column('last_name', VARCHAR(length=40), table=<employee>), Column('birth_day', DATE(), table=<employee>), Column('sex', VARCHAR(length=1), table=<employee>), Column('salary', INTEGER(), table=<employee>), Column('super_id', INTEGER(), table=<employee>), Column('branch_id', INTEGER(), ForeignKey('branch.branch_id'), table=<employee>), schema=None)

In [11]:
for c in emp.columns:
    print(c)

employee.emp_id
employee.first_name
employee.last_name
employee.birth_day
employee.sex
employee.salary
employee.super_id
employee.branch_id

In [12]:
emp_table = sqlalchemy.sql.select([emp])

In [15]:
print(str(emp_table))

SELECT employee.emp_id, employee.first_name, employee.last_name, employee.birth_day, employee.sex, employee.salary, employee.super_id, employee.branch_id
FROM employee

In [27]:
rows = conn.execute(emp_table)

In [28]:
print(rows)

<sqlalchemy.engine.result.ResultProxy object at 0x00000203273E70B8>

In [29]:
for row in rows:
    print(row)

(100, 'David', 'Wallace', datetime.date(1967, 11, 17), 'M', 250000, None, 1)
(101, 'Jan', 'Levinson', datetime.date(1961, 5, 11), 'F', 110000, 100, 1)
(103, 'Angela', 'Martin', datetime.date(1971, 6, 25), 'F', 63000, 102, None)
(104, 'Kelly', 'Kapoor', datetime.date(1980, 2, 5), 'F', 55000, 102, None)
(105, 'Stanley', 'Hudson', datetime.date(1958, 2, 19), 'M', 69000, 102, None)
(106, 'Josh', 'Porter', datetime.date(1969, 9, 5), 'M', 78000, 100, 3)
(107, 'Andy', 'Bernard', datetime.date(1973, 7, 22), 'M', 65000, 106, 3)
(108, 'Jim', 'Halpert', datetime.date(1978, 10, 1), 'M', 71000, 106, 3)
(109, 'oscar', 'martinez', datetime.date(1968, 2, 19), 'M', 69000, 106, 3)
(110, 'oscar2', 'martinez2', datetime.date(1968, 2, 20), 'M', 69000, 106, 3)

In [70]:
name_q = sqlalchemy.sql.select([emp.c.first_name, emp.c.salary]).where(emp.c.salary>70000)
names = conn.execute(name_q)
for name in names:
    print(name)

('David', 250000)
('Jan', 110000)
('Josh', 78000)
('Jim', 71000)

In [42]:
name_sal_q = sqlalchemy.sql.select([emp.c.first_name, emp.c.salary]).order_by(sqlalchemy.sql.desc(emp.c.salary))

In [43]:
str(name_sal_q)

'SELECT employee.first_name, employee.salary \nFROM employee ORDER BY employee.salary DESC'

In [44]:
name_sal = conn.execute(name_sal_q)

In [45]:
for i in name_sal:
    print(i)

('David', 250000)
('Jan', 110000)
('Josh', 78000)
('Jim', 71000)
('Stanley', 69000)
('oscar', 69000)
('oscar2', 69000)
('Andy', 65000)
('Angela', 63000)
('Kelly', 55000)

In [93]:
sale_f_q = sqlalchemy.sql.select([emp.c.first_name, emp.c.salary]).where(emp.c.sex=='F')

In [94]:
sale_f = conn.execute(sale_f_q)

In [88]:
for i in sale_f:
    print(i)

('Jan', 110000)
('Angela', 63000)
('Kelly', 55000)

In [95]:
count = sale_f.fetchall()

In [96]:
count

[('Jan', 110000), ('Angela', 63000), ('Kelly', 55000)]

In [105]:
sale_f_q = sqlalchemy.sql.select([emp.c.first_name, emp.c.salary]).where(sqlalchemy.and_(emp.c.sex=='M' , emp.c.salary>70000))

In [106]:
sale_f70000 = conn.execute(sale_f_q)

In [107]:
sale_f7000 = sale_f70000.fetchall()

In [108]:
sale_f7000

[('David', 250000), ('Josh', 78000), ('Jim', 71000)]

In [110]:
str(sale_f_q)

'SELECT employee.first_name, employee.salary \nFROM employee \nWHERE employee.sex = :sex_1 AND employee.salary > :salary_1'

In [142]:
mid_sal_emp_q = sqlalchemy.sql.select([emp.c.last_name, emp.c.salary]).where(emp.c.salary.between(60000,100000)).order_by(emp.c.salary.desc())

In [143]:
mid_sal_emp = conn.execute(mid_sal_emp_q)

In [144]:
mid_sal = mid_sal_emp.fetchall()

In [145]:
mid_sal

[('Porter', 78000),
 ('Halpert', 71000),
 ('Hudson', 69000),
 ('martinez', 69000),
 ('martinez2', 69000),
 ('Bernard', 65000),
 ('Martin', 63000)]

In [150]:
dis_branch_q = sqlalchemy.sql.select([sqlalchemy.distinct(emp.c.branch_id)])

In [152]:
dis_branch = conn.execute(dis_branch_q)
dis_branch = dis_branch.fetchall()

In [153]:
dis_branch

[(None,), (1,), (3,)]

In [158]:
min_max_sal_q = sqlalchemy.sql.select([sqlalchemy.func.min(emp.c.salary).label('min_sal'), sqlalchemy.func.max(emp.c.salary).label('max_sal')])

In [159]:
str(min_max_sal_q)

'SELECT min(employee.salary) AS min_sal, max(employee.salary) AS max_sal \nFROM employee'

In [160]:
min_max_sal = conn.execute(min_max_sal_q)
min_max_sal = min_max_sal.fetchall()
min_max_sal

[(55000, 250000)]

In [163]:
sum_avg_sal_q = sqlalchemy.sql.select([sqlalchemy.func.sum(emp.c.salary), sqlalchemy.func.avg(emp.c.salary)])
sum_avg_sal = conn.execute(sum_avg_sal_q)
sum_avg_sal = sum_avg_sal.fetchall()
sum_avg_sal

[(Decimal('899000'), Decimal('89900.0000'))]

In [165]:
gender_avg_sal_q = sqlalchemy.sql.select([emp.c.sex,sqlalchemy.func.avg(emp.c.salary)]).group_by(emp.c.sex)
gender_avg_sal = conn.execute(gender_avg_sal_q)
gender_avg_sal = gender_avg_sal.fetchall()
gender_avg_sal

[('M', Decimal('95857.1429')), ('F', Decimal('76000.0000'))]

In [168]:
gender_count_q = sqlalchemy.sql.select([emp.c.sex, sqlalchemy.func.count(emp.c.emp_id)]).group_by(emp.c.sex)
gender_count = conn.execute(gender_count_q)
gender_count = gender_count.fetchall()
gender_count

[('M', 7), ('F', 3)]

In [169]:
#create table

In [184]:
meta = sqlalchemy.MetaData(engine)

In [185]:
shoppers = sqlalchemy.Table(
'shoppers',meta,
sqlalchemy.Column('id',sqlalchemy.Integer,primary_key=True),
sqlalchemy.Column('name', sqlalchemy.VARCHAR(20)))

In [186]:
shoppers.create()

In [194]:
shop = meta.tables['shoppers']

In [195]:
so = sqlalchemy.sql.select([shop])

In [196]:
so = conn.execute(so)
print(so.fetchall())

[]

In [191]:
str(so)

'SELECT shoppers.id, shoppers.name \nFROM shoppers'